<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="section-container">
        <p>로그인</p>
        <form method="post" action="{{ url_for('login_user') }}">
            <div class="input-container">
                <input type="email" placeholder="이메일" id="email" name="email" required> <br>
                <input type="password" placeholder="비밀번호" id="pw" name="pw" required>
            </div>
            <div class="button-container">
                <input type="submit" value="로그인" id="signInBtn">
            </div>
        </form>
        <p class="link-container"><a href="{{ url_for('signin') }}">회원가입하기</a></p>
    </div>
</body>
</html>
